#heading{
    text-align: center;
}
.btn{
    position: absolute;
    top: 50%;
    left: 50%;
    color: aliceblue;
    background-color: purple;
    cursor: pointer;
    height: 25px;
    width: 90px;
    border-radius: 4px;

}
.btn:hover{
    color: red;
    background-color: yellow;
    font-size: 2rem;
    border-radius: 6px;
    height: 75px;
    width: 130px;
    
}
